In [1]:
import pandas as pd
# Load the CSV file into a DataFrame
df = pd.read_csv("/home/vicky/learning/machine-learning/sources/mock_data.csv")

In [2]:
# Identify and display records with missing age and salary
print("Records with missing age:")
print(df[df['age'].isnull()][['age', 'salary', 'department']])
print("\nRecords with missing salary:")
print(df[df['salary'].isnull()][['age', 'salary', 'department']])

Records with missing age:
       age   salary department
44     NaN  60000.0  Marketing
115    NaN  60000.0         IT
127    NaN      NaN  Marketing
147    NaN  60000.0         HR
164    NaN  70000.0         IT
...    ...      ...        ...
19872  NaN  60000.0         HR
19921  NaN      NaN         HR
19940  NaN  70000.0        NaN
19997  NaN  60000.0         IT
19998  NaN  60000.0  Marketing

[1000 rows x 3 columns]

Records with missing salary:
        age  salary department
5      35.0     NaN         IT
11     61.0     NaN         IT
13     46.0     NaN        NaN
14     48.0     NaN         IT
15     61.0     NaN         HR
...     ...     ...        ...
19984  71.0     NaN        NaN
19988  72.0     NaN  Marketing
19992  60.0     NaN        NaN
19993  76.0     NaN  Marketing
19999  47.0     NaN        NaN

[6481 rows x 3 columns]

In [4]:
# Calculate median values for age and salary
age_median = df['age'].median()
salary_median = df['salary'].median()

print("\nMedian values used:")
print(f"Age median: {age_median}")
print(f"Salary median: {salary_median}")

Median values used:
Age median: 48.0
Salary median: 60000.0

In [5]:
# Fill missing numeric values with the median
df['age'] = df['age'].fillna(age_median)
df['salary'] = df['salary'].fillna(salary_median)

In [6]:
print("\nMissing values after numeric cleaning:")
print(df.isnull().sum())

Missing values after numeric cleaning:
id               0
name             0
age              0
salary           0
hire_date     2004
profile       1967
department    3997
bonus         2002
dtype: int64

In [7]:
df['department'] = df['department'].fillna('unknown')

In [8]:
print("\nMissing values after handling department:")
print(df.isnull().sum())

Missing values after handling department:
id               0
name             0
age              0
salary           0
hire_date     2004
profile       1967
department       0
bonus         2002
dtype: int64

In [9]:
print("Cleaned DataFrame overview:")
print(df.head(), "\n")
print("Missing values in each column:")
print(df.isnull().sum(), "\n")

Cleaned DataFrame overview:
   id      name   age   salary   hire_date  \
0   1  Name_103  77.0  60000.0  2020-06-30
1   2  Name_436  62.0  50000.0         NaN
2   3  Name_861  61.0  60000.0  2025-08-31
3   4  Name_271  36.0  70000.0  2018-09-13
4   5  Name_107  78.0  60000.0  2023-08-02

                                             profile department   bonus
0                                                NaN  Marketing  7824.0
1  {"address": "Street 45, City 22", "phone": "29...  Marketing  5185.0
2  {"address": "Street 94, City 42", "phone": "79...         HR  9622.0
3  {"address": "Street 58, City 50", "phone": "19...    unknown  6711.0
4  {"address": "Street 76, City 8", "phone": "800...         IT  9848.0

Missing values in each column:
id               0
name             0
age              0
salary           0
hire_date     2004
profile       1967
department       0
bonus         2002
dtype: int64

In [10]:
import json

In [11]:
df['profile'] = df['profile'].apply(lambda x: json.loads(x) if pd.notnull(x) else {})

In [12]:
df['address'] = df['profile'].apply(lambda x: x.get('address', None))
df['phone']   = df['profile'].apply(lambda x: x.get('phone', None))
df['email']   = df['profile'].apply(lambda x: x.get('email', None))

In [13]:
print("\nSample extracted data:")
print(df[['address', 'phone', 'email']].head())

Sample extracted data:
              address       phone                  email
0                None        None                   None
1  Street 45, City 22  2967670323  email_290@example.com
2  Street 94, City 42  7944902302  email_195@example.com
3  Street 58, City 50  1901840295  email_446@example.com
4   Street 76, City 8  8000228998  email_227@example.com

In [14]:
df.drop(columns=['profile'], inplace=True)

In [17]:
# Save the cleaned data to CSV for further processing
cleaned_data = "/home/vicky/learning/machine-learning/sources/cleaned_data.csv"
df.to_csv(cleaned_data, index=False)
print(f"\nCleaned data saved to {cleaned_data}")

Cleaned data saved to /home/vicky/learning/machine-learning/sources/cleaned_data.csv